html {
    box-sizing: border-box;
}

#grid-container {
    display: grid;
    width: 70vh;
    height: 70vh;
    margin-top: 1rem;
}

/* on-off button: https://www.w3schools.com/howto/howto_css_switch.asp */

#grid-container > div {
    border: 1px solid black;
}

.black {
    background-color: black;
}

.error-msg {
    color: red;
}