html {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

button {
    background-color: rgb(98,0,238);
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: rgb(141, 73, 238);
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: grid;
    width: 760px;
    height: 760px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: white;
}

#grid-container > div {
    border: 1px solid gray;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;    
}

.error-msg {
    color: red;
}

.buttons {
    margin-bottom: 1rem;
    width: 760px;
    display: flex;
    justify-content: space-between;
}

.radios {
    font-size: 1.5rem;
    width: 760px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
}

label {
    display: block;
    margin: 0 2rem;
}