html {
    box-sizing: border-box;
}

#grid-container {
    display: grid;
    width: 70vh;
    height: 70vh;
    margin-top: 1rem;
}

#grid-container > div {
    border: 1px solid black;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.error-msg {
    color: red;
}